    
      <div class="container" style="padding: 10px;align-self: center">
  <div class="jumbotron" style="background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210324/pngtree-pink-playful-abstract-portfolio-memphis-image_593407.jpg);margin-top: 30px; padding: 150px;image-resolution: inherit">
 
  <h1 style="color: aliceblue;margin-top: 100px;text-align: right">Hello There!</h1>    
  <h2 style="color: rgb(205, 122, 191);text-align: right">Welcome to My PortFolio</h2>
  <p style="color: aliceblue;text-align: right">Get access to an amazing portfolio...</p>
  </div>
  </div>
  
  
  
  